
@font-face { font-family: Market Deco; src: url('../fonts/nav.ttf');}
/* body {
  padding-top: 54px; 
  background-color: black;
 padding-top: 10 px;
} */

/* @media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
} */
/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent; }
  #sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
} */
#sideNav{
  display: none;
}
@media (min-width: 992px) {

  .nav-item a:target{
    color:orange;
  }
  


  #sideNav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 27rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    color:white;
    padding :1px;
    font-size: 1.5em;
    font-family:Market Deco;
    font-size:18px;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
      display: block;
      /* color:#F38445 !important; */
      padding :0px  !important;
    font-family:Market Deco;
    }
    a.about:active{
      color:#F38445 !important;
    }
    /* .nav-item.ml-5 :active{
      color:#F38445 !important;

  } */
}    

@media (min-width: 768px) and (max-width:991.9px){
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    color:white;
    padding :1px;
    font-size: 1.5em;
    font-family:Market Deco;
  }
  img.insta{
    width: 98px !important;
    height: auto !important;
    padding: 5px;
    position: absolute !important;
    bottom: -242px !important;
    left: -20px !important;
  }
  img.fb{
    width: 60px !important;
    height: auto !important;
    padding: 5px;
    position: absolute !important;
    bottom: -242px !important;
    left: 105px !important;
  }
  img.twit{
    width: 50px !important;
    height: 40px !important;
    padding: 5px ;
    position: absolute !important;
    bottom: -200px !important;
    left: 55px !important;
  }
  .fixed-top{
    top: 25% !important;
  }
}